/* Paleta de colores */
:root {
    --primary-color: #4CAF50; /* Verde suave */
    --secondary-color: #FF9800; /* Naranja suave */
    --background-color: #f4f4f4; /* Gris claro */
    --text-color: #333; /* Gris oscuro */
    --header-background: #333; /* Gris oscuro */
    --main-background: linear-gradient(to bottom, #4CAF50, #FF9800); /* Degradado verde a naranja */
    --manin-background-alt: linear-gradient(to bottom, #FF9800, #4CAF50); /* Degradado naranja a verde */
}

/* Estilos b치sicos */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

li{
    list-style: none;
}

/* Dise침o del header */
header {
    background-color: var(--header-background);
    color: #fff;
    padding: 2rem;
    text-align: center;
}

header ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
}

header h1 {
    margin: 0;
}

/* Dise침o del main */
.main-content {
    background-size: cover;
    background-position: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.main-content-background {
    background-image: var(--main-background);
}

.main-content-background-alt {
    background-image: var(--manin-background-alt);
}

.main-btn{
    background-color: var(--header-background);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .main-content {
        height:40vh;
    }
    
}

.main-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* Dise침o del contenido */
.container {
    padding:2rem;
}

article {
    background: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
